* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app_header {
  background-color: white;
  object-fit: contain;
  z-index: 1; /*for avatar overlaping with header*/
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky; /* for header to follow you around*/
  top: 0;
}

.app_headerImage {
  object-fit: contain;
}
.app_signup {
  /*form styling*/
  display: flex;
  flex-direction: column;
}

.app_post {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.login_notice h3 {
  text-align: center;
  padding: 10px;
  color: red;
}
