.imageupload {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}
.imageupload__progress {
  width: 100%;
}

.imageupload .imageupload__button {
  padding: 10px;
  margin-top: 10px;
}

.imageupload input {
  padding: 10px;
  margin-top: 10px;
}
